<header class="header">
  <div class="logo">
    <h5 style="font-weight: 700">Foodie</h5>
  </div>
  <div class="links">
    <ul>
      <li routerLink="/">Главная</li>
      <li routerLink="/recipe">Каталог рецептов</li>
      <li routerLink="/create-recipe">Создание рецепта</li>
    </ul>
  </div>

  <div class="sign_and_exit_btn">
    <button class="btn_default" routerLink="/auth">Войти</button>
  </div>
<!-- 
  <div class="user_information">
    <div class="pen_user_profile" (click)="toggleDownFn()"></div>
    <div class="profile_user">
      <div class="logo_user"></div>
      <div class="description_user">
        <ul>
          <li>Name</li>
          <li>role</li>
        </ul>
      </div>
    </div>
    <div *ngIf="toggleDownList" class="down_description"> 
        <ul class="user_list">
            <li>Вы вошли как</li>
            <li>Настройки аккаунта</li>
            <li>Администрирование</li>
            <li><span style="color: red;">Выход</span></li>
        </ul>
    </div>
  </div> -->
</header>
