<div class="container">
  <ul #checkBox>
    <li class="flex" *ngFor="let item of arrCheckBox" >
      <div
        class="logo"
        [ngClass]="{ active: item.checked, removed: !item.checked }"
        (click)="toogleIsActive(item.id)"
      ></div>
      <div
        *ngIf="!extended"
        class="text"
        [ngClass]="{ activeText: item.checked }"
      >
        {{ item.title }}
      </div>
      <div
        *ngIf="extended"
        class="text"
        [ngClass]="{ activeText: item.checked }"
      >
        <div>
          <h5>{{item.id}}.   {{ item.title }}</h5>
          <p>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
            numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
