header {
    width: 100%;
    background-color: #3A3395;
    position: absolute;
    transition: 1s all ease;
    bottom:0;
}

.container {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    color: #fff;
    margin-left: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo,
.close {
    padding: 10px 0;
}